.Music {
    background-color: #1f1f1f;
    color: rgb(81, 242, 0);
    float: left;
    padding: 30px;
    width: 300px;
    height: 250px;
    position: relative;
}

.music-wrapper {
    display: flex;
}

.music-info {
    position: relative;
    flex-grow: 1;
    width: 60%;
    align-self: center;
    margin-bottom: 37px;
}

.music-img img {
    width: 100px;
    border-radius: 50px;
}

.music-duration {
    margin-top: 15px;
    margin-bottom: 0;
}

.button-wrapper {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    justify-content: center;
}

.title-wrapper {
    width: 75%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}

.music-title {
    font-size: 18px;
    margin-bottom: 0px;
    overflow: hidden;
    white-space: nowrap;
}

.music-title:not(:hover) {
    text-overflow: ellipsis;
}

.music-title:hover, .music-title:focus {
    display: inline-block;
    animation-name: scroll-left;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes scroll-left {
    0% {
        overflow: visible;
        right: 0px;
        transform: translateX(0%);
    }
    90%,
    100% {
        overflow: visible;
        right: 100%;
        transform: translateX(-100%);
    }
}

.music-artist {
    text-align: center;
    width: 80%;
    font-size: 15px;
    margin: 5px auto 0 auto;
}