.Music {
    border-radius: 20px;
    background-color: #181818;
    color: rgb(177, 110, 3);
    float: left;
    padding: 30px;
    width: 200px;
    height: 300px;
    margin: 10px;
    position: relative;
}
.music-img img {
    width: 170px;
    float: left;
    border-radius: 10px;
}
.btn {
    position: absolute;
    bottom: 30px;
    left: 55px;
    width: 150px;
    height: 30px;
    border-radius: 110px;
    border: none;
}
.music-title {
    font-size: 18px;
    margin-bottom: 0px;
}
.music-artist {
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 20px;
}
.select {
    color: rgb(228, 145, 0);
    text-transform: uppercase;
    font-weight: bold;
    background-color: #000000;
}
.selected {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(1, 1, 1);
    border: solid 2px #cc07cc;
}